<!DOCTYPE html>
<html dir="rtl">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<style>
	.grid-container
	{
	  display: grid;
	  grid-template-columns: auto auto auto;
	  padding: 10px;
	  position: relative;
	}
	.grid-item
	{
	  padding: 20px;
	  font-size: 30px;
	  text-align: center;
	}
	#btn1
	{
font-family: "Carmela", sans-serif;
		height: 100px;
		width: 100px;
		background-color: #555555;
		color: white;
	}
	#btn2
	{
		font-family: "Carmela", sans-serif;
		height: 100px;
		width: 100px;
		background-color: #555555;
		color: white;
	}
</style>
	<title>לוח אדמין</title>
</head>
<body>
	<div class="grid-container">
	<div class="grid-item"></div>
	<div class="grid-item">
		<h2>כפתורים לתפעול</h2>
	</div>
	<div class="grid-item"></div>
	<div class="grid-item"></div>
	<div class="grid-item">
		<form action="" method="post">
			<button type="sumbit" value="true" name="see" class="btn btn-default" id = btn1>לצפייה במסד הנתונים בזמן אמת</button>
			<button type="sumbit" value="true" name="reset" class="btn btn-default" id = btn2>להצגת QR ואיפוס הרשימה ליום חדש</button>
		</form>
	</div>
	<div class="grid-item"></div>
	<div class="grid-item"></div>
	<div class="grid-item">
		<form action="" method="post">
			<button type="sumbit" value="true" name="class" class="btn btn-default" id = btn1>לצפייה בכמה תלמידים היו בשיעור האחרון</button>
		</form>
	</div>
	<div class="grid-item"></div>
</div>

</body>
</html>


